/***    START:系统样式表    ***/
    .fileter_style .ibiz-span.is-is-ellipsis{
    font-weight: 100;
    margin-right: 20px;
}
    
.ibiz-html .ibiz-html-content {
    background-color: transparent !important;
}
    .main-info-common-view .ibiz-grid-container--container_view_bottom > div {
height: 100%;
}
.main-info-common-view .ibiz-grid-container--container_view_bottom > div:nth-child(2) {
min-height: 48px;
}
.main-info-common-view .ibiz-single-data-container--container_attention>.el-row {
position: static;
}
.main-info-common-view .ibiz-single-data-container--container_attention .ibiz-attention {
width: calc(100% - 4px);
min-height: 48px;
padding-right: 32px;
position: absolute;
top: 0;
}
/* 时间范围宽度 */
.main-info-common-view .ibiz-date-range-picker {
max-width: 250px;
}

    .main_state_hover_style .el-popper.is-light .el-select-dropdown__item.hover, .main_state_hover_style .el-popper.is-light .el-select-dropdown__item:hover {
    background-color: rgb(74 129 199 / 60%) !important;
}
    .talent_card .ibiz-row--flex{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 12px;
}
    .talent_name .ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    font-size: 20PX;
    font-weight: 1000;
}
    .talent_font2 .ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    font-weight: 100;
}
    .talent_font3 .ibiz-rawitem__text{
    font-size: 20px;
    font-weight: 1000;
}
    .talent_title .ibiz-rawitem__text{
    font-size: 30px;
    font-weight: bolder;
}
    .applicant_icon .ibiz-icon.ibiz-rawitem__image{
    height: 20px;  
    width: 20px;
    margin-top: 12px;
}
    .applicant_right .el-row.ibiz-row.ibiz-row--grid.ibiz-form-group-content__row{
    background-color: #f6fafd;
}
    .applicant_font .ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    margin-top: 5px;
    font-weight: 100;
    margin-left: 20px;
}

    .applicant_style .ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    font-size: 20px;
    font-weight: bold;
}
    .applicant_base2 .ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    font-weight: 100;
    margin-top: 5px;
    margin-left: 20px;
}
    .applicant_button .el-button.el-button--default{
    background-color: white;
    color: #5F6368;
    border: 1px solid #DADCE0;
}
.applicant_button .el-button.el-button--default:hover {
  background-color: #F8F9FA; /* 极浅灰 */
  border-color: #C4C7C5;
}
    .applicant_baseinfo_count sup.el-badge__content.el-badge__content--danger.is-fixed{
    color:  #7687AB;
    background-color: rgba(115, 121, 128, 0.2);
}
.applicant_baseinfo_count .ibiz-badge.ibiz-badge--danger.ibiz-control-drtab__counter{
    color:  #7687AB;
    background-color: rgba(115, 121, 128, 0.2);
}
.applicant_baseinfo_count .ibiz-badge.ibiz-badge--danger.ibiz-control-searchbar__counter{
    color:  #7687AB;
    background-color: rgba(115, 121, 128, 0.2);
}

    .applican_icon .ibiz-icon.ibiz-rawitem__image{
    margin-left: 20px;
}

    .applicant_name .ibiz-input.ibiz-input--readonly{
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}
    .applicant_baseinfo .ibiz-input.ibiz-input--readonly{
    
    font-weight: 100;
    margin-right: 20px;
}
.applicant_baseinfo .ibiz-dropdown-readonly-text-item__label{
    
    font-weight: 100;
    margin-right: 20px;
}
    .img_sc img.ibiz-icon.ibiz-rawitem__image{
    margin-top: 4px;
}
    .top_but_sty .el-button.el-button--default{
    color: #4a90e2;
    border: 1px solid #4a90e2;
    border-radius: 6px;
    padding: 8px 16px;
}
    :root.light {

}
    :root.light {

      }

    :root.light {

    }

    .ibiz-panel-button.ibiz-panel-button--default.add_feedback {
    padding: 0px;
}
    .website_button .el-button.el-button--default{
    margin-top: 200px;
}

    .website .ibiz-input.ibiz-input--readonly{
    margin-left: 10px;
    font-weight: 1000;
    font-size: 23px;
    color: var(--ibiz-form-group-caption-text-color);
}
    .website1 .ibiz-input.ibiz-input--readonly{
    margin-left: 10px;
}
.website1 .ibiz-rawitem__text{
    margin-left: 10px;
    color: var(--ibiz-form-group-caption-text-color);
}
    .apply .ibiz-rawitem__text{
    
    color: darkgray;
}
    .apply2 .ibiz-input.ibiz-input--readonly{
    font-weight: 500;
    font-size: 20px;
    color: var(--ibiz-form-group-caption-text-color);
}
    .workspace_welcome_font_candidate_cnt .ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    vertical-align: baseline; 
    line-height: 24px;
}
    .workspace_welcome_font .ibiz-span.is-is-ellipsis.ibiz-panel-field-content {
     color: var(--ibiz-control-captionbar-color);
    font-weight: bold;
    font-size: 20px;
}
.workspace_welcome_font .ibiz-rawitem{
     color: var(--ibiz-control-captionbar-color);
    font-weight: bold;
    font-size: 20px;
}
.ibiz-control--usr0829962187{
    padding: 0px;
}
    .app_market_style .ibiz-panel-field--title span {
    font-weight: bold;
    font-size: larger;
}

.app_market_style .ibiz-panel-field--version {
    background-color: lightgrey;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.app_market_style .ibiz-panel-field--version span {
    color: white;
    font-weight: bold;
}

.app_market_style .ibiz-panel-field--memo span {
    font-size: medium;
    color: grey;
}

.app_market_style .ibiz-control-dataview-group-content__item-content>* {
    margin-right: 32px;
}

.app_market_style .el-card__body {
    padding: 0px;
}

.app_market_style .ibiz-panel-button , .ibiz-panel-button-list {
    padding: 8px 8px 8px 0px;
}

/* .app_market_style .ibiz-control-dataview-item {
    height: 100%;
} */

.app_market_style .ibiz-control-dataview-item.is-active {
    background-color: unset !important;
}
    .workspace_style1 .ibiz-rawitem__text{
    font-size: 17px;
    background-color: var(--el-bg-color);
}
    .workspace_style2 .ibiz-rawitem__text{
    font-size: 20px;
}
    .work_color .ibiz-row.ibiz-row{
    background-color: var(--el-bg-color);
    border-radius: 6px; 
}
// .work_color .ibiz-panel-container-group.ibiz-panel-container-group--container_group.ibiz-panel-container-group--show-header.ibiz-panel-container-group-collapse.ibiz-panel-container-group-collapse--disable-close
// {
//    background-color: #f4f9fd;
//     border-radius: 6px; 
// }
    .overall-info span.ibiz-panel-field-content{
    color: var(--ibiz-form-item-text-color);
    font-size: 28px;
    font-weight: 200;
}
.overall-info span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
     cursor: pointer;
}

.overall-info span.ibiz-rawitem__text {
    cursor: pointer;
    font-size: 16px;
}
.overall-info img.ibiz-icon.ibiz-rawitem__image
{
    cursor: pointer;
    font-size: 16px;
}
.overall-info .el-divider {
    height: 58px !important;
    width: 1px !important;
    margin: 0 !important;
    border-top: unset !important;
    border-left: 1px var(--el-border-color) var(--el-border-style);
}

.overall-info .ibiz-panel-container--container1,
.overall-info .ibiz-panel-container--container2,
.overall-info .ibiz-panel-container--container3,
.overall-info .ibiz-panel-container--container4,
.overall-info .ibiz-panel-container--container5{
    cursor: pointer;
}
    .myinterview .ibiz-span.ibiz-span--readonly.is-is-ellipsis{
    font-weight: 100;
    margin-right: 20px;
}

    .export-canvas-style .ibiz-bi-report-panel-content {
  padding: 0;
}
.export-canvas-style .ibiz-bi-report-panel-content > .el-collapse {
  padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-base);
}

    .platform_accout_syle .ibiz-control-dataview-scroll-item{
    width: 100%;
}
.platform_accout_syle img{
    width: 76px;
    height: 76px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
    .platform_right .ibiz-rawitem.ibiz-form-raw-item.platform_title2.is-form-text{
    margin-top: 50px;
}
    .platform_left .ibiz-row.ibiz-row--flex.ibiz-row--row.ibiz-form-group-content__row{
    margin-left: 20px;
}
    .platform_acc span.ibiz-rawitem__text{
    color: #9ba2a7;
}
    .platfrom_title span.ibiz-rawitem__text{
    margin-left: 20px;
    font-size: 23px;
}
    .platform_title2 span.ibiz-rawitem__text{
    font-size: 23px;
}
    .channel_style img {
    width: 125px;
    height: 125px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
}

.channel_style .ibiz-scroll-container-item--container_scroll_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.channel_style .ibiz-panel-field.ibiz-panel-field--platform_account_count .ibiz-panel-field-content {
    margin-bottom: 2px;
}
    .channel_style .ibiz-scroll-container-item--container_scroll_right .ibiz-panel-container--container .ibiz-row.ibiz-row--flex.ibiz-row--column,
.channel_style .ibiz-scroll-container-item--container_scroll_right .ibiz-panel-container--container2 .ibiz-row.ibiz-row--flex.ibiz-row--column,
.channel_style .ibiz-scroll-container-item--container_scroll_right .ibiz-panel-container--container3 .ibiz-row.ibiz-row--flex.ibiz-row--column {
    /* flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px; */
}
    .platform_icon .ibiz-row.ibiz-row--flex.ibiz-row--row.ibiz-form-group-content__row{
    margin-left: 8px;
}
    .idea_status.ibiz-rawitem.ibiz-form-raw-item.is-form-text{
    background-color: #bde0fe;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    display: inline-block;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
    /* 移入移出效果 */
.ibiz-form-button--style2 .el-button,
.ibiz-control-toolbar__item--style2 .el-button,
.ibiz-panel-button--style2 .el-button {
min-height: var(--ibiz-height-control-default);
min-width: var(--ibiz-height-control-default);
background: transparent;
border: none;
color: var(--ibiz-color-text-3);
font-size: var(--ibiz-font-size-header-6);
padding: 8px;
}
.ibiz-form-button--style2 .el-button:hover,
.ibiz-control-toolbar__item--style2 .el-button:hover,
.ibiz-panel-button--style2 .el-button:hover {
background-color: var(--ibiz-color-primary-light-default);
color: var(--ibiz-color-primary);
}

.ibiz-form-button--style2 .el-button.el-button {
width: var(--ibiz-height-control-default) ;
}

/* 按钮间隔 */
.ibiz-form-button--style2.ibiz-form-button--style2,
.ibiz-control-toolbar__item--style2 .el-button,
.ibiz-panel-button--style2.ibiz-panel-button--style2 {
padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-super-tight);
}
    .swap_icon_text button {
    direction: rtl;
}

.swap_icon_text button:hover {
    background-color: transparent !important;
    color: rgb(85, 125, 165) !important; 
}

.swap_icon_text button:hover span svg path {
    fill: #557DA5 !important;
}

.swap_icon_text .ibiz-toolbar-item-text {
    line-height: normal;
}
    .ibiz-control-searchbar-quick-group.is-card .ibiz-badge {
    padding: 0 4px !important;
}
    .orange-span{
    width: 70px;
    height: 20px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffdcaf;
}
    .transition-time .ibiz-span{
  font-size: var(--ibiz-font-size-small);
  color: var(--ibiz-color-disabled-text);
}
    .content_font span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    font-size: 14px;
}
    .message_back_color .ibiz-panel-container-group.ibiz-panel-container-group--container_group.ibiz-panel-container-group--show-header.ibiz-panel-container-group-collapse.ibiz-panel-container-group-collapse--disable-close
{
    background-color: var(--el-bg-color);
    border-radius: 6px; 
}
    .grey-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #e1e1e1;
}
    .filter_list_style .ibiz-panel-rawitem--static_text .ibiz-rawitem,
.filter_list_style .ibiz-panel-rawitem--static_text1 .ibiz-rawitem,
.filter_list_style .ibiz-panel-rawitem--static_text2 .ibiz-rawitem {
    color: white;
    text-align: center;
}

.filter_list_style .ibiz-panel-rawitem--static_text1 {
    padding-top: 3px;
    padding-bottom: 3px;
    background: #41bb5b;
    border-radius: 10px;
    width: 105px;
}

.filter_list_style .ibiz-panel-rawitem--static_text2 {
    padding-top: 3px;
    padding-bottom: 3px;
    background: #f08780;
    border-radius: 10px;
    width: 105px;
}
.filter_list_style .ibiz-panel-rawitem--static_text {
    padding-top: 3px;
    padding-bottom: 3px;
    background: #297DB4;
    border-radius: 10px;
    width: 65px;
}
    .purple-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #d2d8ed;
}
    .red-span{
   width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fcd0cb;
}

 

    .green-span{
    width: 70px;
    height: 20px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #07ad2b;
    color: white;
}
    .top_style .ibiz-panel-rawitem--top_text {
    border-radius: 18px;
    background-color: #ff75751a;
    padding: 0px 8px 0px 8px;
}

.top_style .ibiz-panel-rawitem--top_text span {
    color: #ff7575;
}
    .exam_title1{
      font-size:15px
    }
    .exam_title1 span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    font-weight:900;
    font-size: 15px;
}
    .exam_title2 span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    color:#CFCFCF;  
}
.exam_title2 span.ibiz-rawitem__text
{
    color:#CFCFCF;
}
    .job_style .ibiz-image-upload__list-item img{
    width: 125px;
    height: 125px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

    .job_requirments span.ibiz-rawitem__text{
    font-size: 20px;
    color: var(--ibiz-control-captionbar-color);
    margin-left: 25px;
}
    .more_log_style .ibiz-control-toolbar__item {
    position: absolute !important;
    margin: -65px 0px 0px -65px !important;
}

.more_log_style .el-button {
    --el-button-bg-color: none !important;
    --el-button-text-color: rgb(70 107 144) !important;
    --el-button-hover-text-color: none !important;
    --el-button-hover-bg-color: none !important; 
    --el-button-hover-border-color: none !important;
    --el-button-active-text-color: node !important;
    --el-button-active-bg-color: none !important;
}
    .blue-span{
    width: 70px;
    height: 20px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #297DB4;
    color: white;
}
    .comment-list-height-auto .ibiz-no-data {
  padding: 0;
  --el-empty-image-width: 64px;
  --el-empty-description-margin-top: 6px;
}
.comment-list-height-auto img {
  max-width: 100%;
}
/* 流转空数据 */
.comment-list-height-auto .ibiz-transition-time-line-timeline-content .ibiz-no-data {
  margin-top: -8px;
}
    .comment-replay {
	padding: 0 12px;
	background-color: var(--ibiz-color-bg-0);
}
.comment-replay .ibiz-rawitem,
.comment-replay .ibiz-code-list__item,
.comment-replay .ibiz-panel-item-render--pcontent {
    color: #999;
}
.comment-replay .ibiz-panel-item-render--pcontent {
    display: flex;
}
.comment-replay .ibiz-panel-item-render--pcontent p {
	margin: 8px 0;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment-replay .ibiz-raw__script .comment-tag {
    pointer-events: none;
}
    .comment_icon .ibiz-rawitem{
    font-size:24px;
    opacity:0.5;
    padding:8px 0;
}
    .comment_btn_style button {
    padding: 8px !important;
    color: var(--ibiz-color-text-3) !important;
}
    .info_item .ibiz-form-item-container__label--text{
    color: #1d1f2359;
}

.info_item .ibiz-input.ibiz-input--readonly{
    color: #41464c;
}

.info_item .ibiz-date-picker.ibiz-date-picker--readonly.ibiz-date-picker__DATEPICKER{
    color: #41464c;
}
    .ibiz-panel-button.ibiz-panel-button--default.into_interview {
    padding: 0px;
}
    .idea_job_relation_style .ibiz-control-list-scroll-item{
    background-color: var(--el-bg-color);
    border-radius: 8px;
    border-bottom: 0px !important;
    margin-bottom: 8px;
}
.idea_job_relation_style .ibiz-control-list-scroll-item .ibiz-panel-field.ibiz-panel-field--field_text_dynamic span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: var(--ibiz-form-group-caption-font-weight);
    color: var(--ibiz-form-group-caption-text-color);   
}
.idea_job_relation_style .ibiz-control-list-scroll-item button.el-button.el-button--default{
    background: transparent;
    padding-top: 0;
}

.idea_job_relation_style .ibiz-panel-button.ibiz-panel-button--default{
    padding-top: 0;
}
/***    END:系统样式表    ***/