/***    START:系统样式表    ***/
    :root.omni {
--ibiz-color-bg-overlay: rgba(var(--ibiz-black), 0.5) !important;
--ibiz-color-text-5: #dbe4ec;
}
.el-dialog.is-align-center.ibiz-modal {
    border-radius: 0px !important; 
}
    /* 表单分组标题 */
.main-info-common-view .ibiz-form-group--right_grouppanel .ibiz-form-group__caption {
  font-size: 16px;
  color: var(--ibiz-color-disabled-text);
}
/* 表单分页样式（padding、导航栏标题） */
.main-info-common-view .ibiz-control-form > .ibiz-form-page .ibiz-form-tab-panel {
  padding: 0 11px 0 13px;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page .ibiz-form-tab-panel.el-tabs .el-tabs__item {
  font-size: 14px;
}
/* 两侧滚动条 */
.main-info-common-view .ibiz-control-form {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item > .ibiz-col--grid {
  height: 100%;
  overflow: auto scroll;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item > .ibiz-col--grid > .ibiz-form-group {
  height: auto;
}

    /* 表单标题 使用多行文本时 */
.main-info-common-view  .ibiz-form-item--name .ibiz-input.is-show-default.is-textarea .ibiz-input-input {
  font-size: var(--ibiz-font-size-header-3);
}
.main-info-common-view .ibiz-form-item--name .ibiz-input.is-show-default.is-textarea .ibiz-input-input .el-textarea__inner {
  line-height: var(--ibiz-editor-default-line-height);
}
.main-info-common-view .ibiz-form-item--name .ibiz-input.is-show-default.is-textarea {
  height: 100%;
  padding: 0;
}
.main-info-common-view .ibiz-form-item--name .ibiz-input.is-show-default.is-textarea .ibiz-input-form-default-content {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* 只读时 */
.main-info-common-view  .ibiz-form-item--name .ibiz-input.is-textarea.ibiz-input--readonly {
    font-size: var(--ibiz-font-size-header-3);
    padding: 5px 11px;
    height: 100%;
}
    /* 表单标题 */
.main-info-common-view .ibiz-form-item--name .ibiz-input .el-input__wrapper .el-input__inner,
.main-info-common-view .ibiz-form-item--name .ibiz-input.is-show-default .ibiz-input-form-default-content {
  font-size: var(--ibiz-font-size-header-3);
  color: var(--ibiz-color-text-0);
}
.main-info-common-view .ibiz-form-item--name .ibiz-input {
  height: var(--ibiz-height-control-default);
}
.main-info-common-view .ibiz-form-item--name .ibiz-input .ibiz-input-input .el-input__wrapper .el-input__inner {
  min-height: calc(var(--ibiz-height-control-default) - 2px);
  height: calc(var(--ibiz-height-control-default) - 2px);
}
 /* 描述分组样式 */
.main-info-common-view .ibiz-form-group--description_container .ibiz-html .ibiz-html-custom-toolbar {
  transform: translateY(-100%);
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
  top: -16px;
}
    /* 左对齐 */
.main-info-common-view .ibiz-form-item-container--left .ibiz-form-item-container__label {
  text-align: left;
}
 /* 上下对齐 */
.main-info-common-view .ibiz-form-item-container--top .ibiz-form-item-container__label {
  padding: 0 11px;
}
    .car-image img.ibiz-personal-info-content__head-sculpture--avatar-icon.ibiz-odoo-personal-info-content__head-sculpture--avatar-icon {
    width: 114px;
    height: 114px;
}

.car-image .ibiz-personal-info-content__head-sculpture.ibiz-odoo-personal-info-content__head-sculpture {
    width: 114px;
    height: 114px;
}

.car-image span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content {
    /* font-size: var(--ibiz-font-size-header-6); */
    font-size: 15px
}
    .ibiz-panel-button.ibiz-panel-button--default.car-activity {
    height: 32px;
}

.car-activity button.el-button.el-button--text.is-text {
    font-size: 18px;
}
    .danger-rawitem{
      font-weight:bold
    }
    .danger-rawitem .ibiz-rawitem{
    color: var(--ibiz-color-danger);
}

    .danger-rawitem-grid{
      font-weight:bold
    }
    span.ibiz-grid-field-column__script .danger-rawitem-grid{
    color: var(--ibiz-color-danger);
}

    .emp-base-info-form .ibiz-form-item-container__editor {
    height: 6px;
}

.emp-base-info-form i.ibiz-icon.fa.ibiz-rawitem__image {
    margin-top: 16px;
}

.emp-base-info-form .ibiz-rawitem.ibiz-form-raw-item {
     height: 0px;
}

.emp-base-info-form span.ibiz-span.is-is-ellipsis {
    color: rgba(73, 80, 87, 0.76) !important;
}

.emp-base-info-form div#undefined_base_info_grouppanel1 {
    margin-top: 6px;
    margin-bottom: -6px;
}

.emp-base-info-form div#undefined_base_info_grouppanel14 {
    margin-left: 10px;
}
    .emp-chart-node-panel .el-tree-node__content {
    height: 40px;
    margin-bottom: 5px;
}
    .emp-org-chart-node img.ibiz-personal-info-content__head-sculpture--avatar-icon.ibiz-odoo-personal-info-content__head-sculpture--avatar-icon {
    width: 48px;
    height: 48px;
}

.emp-org-chart-node .ibiz-personal-info-content__head-sculpture.ibiz-odoo-personal-info-content__head-sculpture {
    width: 48px;
    height: 48px;
}

.ibiz-panel-container.ibiz-panel-container--container1.emp-org-chart-node {
    background: linear-gradient(to bottom, transparent 50%, #41a9a2 50%);
}

.ibiz-panel-container.ibiz-panel-container--container5.emp-org-chart-node {
    border: 1px solid #dee2e6;;
    border-radius: 0;
    box-shadow: none;
}

.emp-org-chart-node .ibiz-panel-container.ibiz-panel-container--container2 button.el-button.el-button--default {
    background: #71639e;
    margin-bottom: -8px;
    margin-left: -8px;
    width: 232px;
}

    .small-image .ibiz-personal-info-content__head-sculpture {
  border-radius:var(--ibiz-border-radius-small);
}
    .app_market_style .ibiz-panel-field--title span {
    font-weight: bold;
    font-size: larger;
}

.app_market_style .ibiz-panel-field--version {
    background-color: lightgrey;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.app_market_style .ibiz-panel-field--version span {
    color: white;
    font-weight: bold;
}

.app_market_style .ibiz-panel-field--memo span {
    font-size: medium;
    color: grey;
}

.app_market_style .ibiz-control-dataview-group-content__item-content>* {
    margin-right: 32px;
}

.app_market_style .el-card__body {
    padding: 0px;
}

.app_market_style .ibiz-panel-button , .ibiz-panel-button-list {
    padding: 8px 8px 8px 0px;
}

/* .app_market_style .ibiz-control-dataview-item {
    height: 100%;
} */

.app_market_style .ibiz-control-dataview-item.is-active {
    background-color: unset !important;
}
    .app_info_style .ibiz-form-item--pscoreprdfuncname span {
    font-weight: bold;
    font-size: x-large;
}

.app_info_style .ibiz-form-item--memo div div div div div {
    color: darkgrey;
    font-size: 15px;
}

.app_info_style button[title="GitLab"] span svg path {
    fill: deepskyblue !important;
}

.app_info_style button[title="GitLab"] span {
    color: deepskyblue !important;
}

.app_info_style button[title="GitLab"] {
  background-color: transparent;
  border: none;
  padding: 0px !important;
}

.app_info_style button[title="GitLab"]:hover, button[title="GitLab"]:focus {
  background-color: transparent;
  border: none;
}

.app_info_style button[title="GitLab"]:hover span svg path {
    fill: #557DA5 !important;
}

.app_info_style button[title="GitLab"]:hover span {
    color: #557DA5 !important;
}

.app_info_style .ibiz-form-button , .ibiz-form-button-list {
    padding: 8px 8px 8px 4px;
}
    .success-rawitem{
      font-weight:bold
    }
    .success-rawitem .ibiz-rawitem{
    color: var(--ibiz-color-success);
}

    .success-rawitem-grid{
      font-weight:bold
    }
    span.ibiz-grid-field-column__script .success-rawitem-grid{
    color: var(--ibiz-color-success);
}

    .coreprdfunc_setting_edit_style .el-tabs__nav span {
    font-size: 14px !important;
}

.coreprdfunc_setting_edit_style .el-tabs__nav .el-tabs__item {
    padding: 0 10px !important;
}
    /* 移入移出效果 */
.ibiz-form-button--style2 .el-button,
.ibiz-control-toolbar__item--style2 .el-button,
.ibiz-panel-button--style2 .el-button,
.ibiz-button-list--style2  .el-button {
min-height: var(--ibiz-height-control-default);
min-width: var(--ibiz-height-control-default);
background: transparent;
border: none;
color: var(--ibiz-color-text-3);
font-size: var(--ibiz-font-size-header-6);
padding: 8px;
}
.ibiz-form-button--style2 .el-button:hover,
.ibiz-control-toolbar__item--style2 .el-button:hover,
.ibiz-panel-button--style2 .el-button:hover {
background-color: var(--ibiz-color-primary-light-default);
color: var(--ibiz-color-primary);
}

.ibiz-form-button--style2 .el-button.el-button {
width: var(--ibiz-height-control-default) ;
}

/* 按钮间隔 */
.ibiz-form-button--style2.ibiz-form-button--style2,
.ibiz-control-toolbar__item--style2 .el-button,
.ibiz-panel-button--style2.ibiz-panel-button--style2 {
padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-super-tight);
}
    /* 移入移出效果 */
.ibiz-button-list--style2  .el-button {
min-height: var(--ibiz-height-control-default);
min-width: var(--ibiz-height-control-default);
background: transparent;
border: none;
color: var(--ibiz-color-text-3);
font-size: var(--ibiz-font-size-header-6);
padding: 8px;
}
.ibiz-button-list--style2 .el-button:hover {
background-color: var(--ibiz-color-primary-light-default);
color: var(--ibiz-color-primary);
}

/* 按钮间隔 */

.ibiz-button-list--style2 .el-button {
padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-super-tight);
}
    .button_container_style button {
  background-color: transparent;
  border: none;
  padding: 0px !important;
}

.button_container_style button:hover, button:focus {
  background-color: transparent;
  border: none;
}

.button_container_style button:hover span svg path {
    fill: #557DA5 !important;
}

.button_container_style .ibiz-panel-button {
    padding: 8px 0px 8px 0px;
}
    .transition-time .ibiz-span{
  font-size: var(--ibiz-font-size-small);
  color: var(--ibiz-color-disabled-text);
}
    /* 视图大的布局样式 */
.user-info-view-content {
box-shadow: rgba(0, 0, 0, 0.08) 0px 0px var(--ibiz-spacing-base) 0px;
border-radius: var(--ibiz-border-radius-medium);
overflow: hidden;
padding-bottom: var(--ibiz-spacing-base);
}
/* 按钮样式 */
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-panel-button {
max-height: 40px;
margin: 0;
padding: 0;
}
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-panel-button .el-button {
min-height: 40px;
padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-extra-loose);
text-align: left;
justify-content: flex-start;
}
/* 按钮内字体样式 */
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-panel-button .ibiz-icon {
color: var(--ibiz-color-text-3);
font-size: var(--ibiz-font-size-header-5);
min-width: 18px;
line-height: 18px;
}

    /* 按钮内字体样式 */
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-panel-button .ibiz-panel-button-content {
color: var(--ibiz-color-text-0);
align-items: center;
}
.user-info-view-content .ibiz-panel-container--user_info_content .el-button .ibiz-panel-button-content .ibiz-icon+.ibiz-panel-button-content--caption {
margin-left: var(--ibiz-spacing-tight);
}
.user-info-view-content .ibiz-panel-container--user_info_content>div>div:nth-last-child(1) .ibiz-panel-button-content,
.user-info-view-content .ibiz-panel-container--user_info_content>div>div:nth-last-child(1) .ibiz-panel-button-content .ibiz-icon {
color: var(--ibiz-color-primary);
}
/* 分割线 */
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-rawitem .el-divider.el-divider--horizontal {
width: calc(100% - 64px);
text-align: center;
margin: var(--ibiz-spacing-extra-tight) auto;
}
    
/* 头部样式 */
/* 图片背景 */
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-panel-rawitem--static_image .ibiz-rawitem__image {
background: #ccf;
}
/* 头像定位 */
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-single-data-container--user_info_avatar {
position: relative;
}
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-single-data-container--user_info_avatar .ibiz-panel-field--user_name,
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-single-data-container--user_info_avatar .ibiz-panel-field--user_avatar {
width: auto;
height: auto;
position: absolute;
top: -4px;
left: 50%;
transform: translate(-50%, -50%);
}
/* 头像大小*/
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-single-data-container--user_info_avatar .ibiz-personal-info-content {
width: 64px;
height: 64px;
border: 4px solid #fff;
border-radius:  var(--ibiz-border-radius-circle);
}
    /* 头像大小 使用的人员信息插件 */
.user-info-view-content .ibiz-single-data-container--user_info_avatar .ibiz-personal-info-content__head-sculpture {
flex: 1;
width: 60px;
font-size: var(--ibiz-font-size-header-5);
}
.user-info-view-content .ibiz-single-data-container--user_info_avatar .ibiz-personnel-info-content__tip {
display: none;
}
/* 视图头部登录者信息样式 */
.user-info-view-content .ibiz-single-data-container--user_info_avatar {
padding-top: 50px;
padding-bottom: 28px;
text-align: center;
}
.user-info-view-content .ibiz-single-data-container--user_info_avatar .ibiz-panel-field--field_text_dynamic .ibiz-span  {
font-weight: 400;
font-size: var(--ibiz-font-size-header-5);
}
.user-info-view-content .ibiz-single-data-container--user_info_avatar .ibiz-panel-field--field_text_dynamic1 .ibiz-span {
margin-top: 10px;
font-size: var(--ibiz-font-size-small);
color: var(--ibiz-color-text-3);
}
    .user-car img.ibiz-personal-info-content__head-sculpture--avatar-icon.ibiz-odoo-personal-info-content__head-sculpture--avatar-icon {
    width: 60px;
    height: 60px;
}

.user-car .ibiz-personal-info-content__head-sculpture.ibiz-odoo-personal-info-content__head-sculpture {
    width: 60px;
    height: 60px;
}

.user-car span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content {
    font-size: 15px
}
    .wiki-page-title .ibiz-span{
    font-weight: 600;
    font-size: var(--ibiz-font-size-header-2);
    color: var(--ibiz-color-text-0); 
}
.ibiz-form-group--grouppanel1:has(.wiki-page-title) .ibiz-form-item--icon .ibiz-span {
font-size: 24px;
}
    .red-span{
   width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fcd0cb;
    vertical-align: inherit;
}
.ibiz-span .red-span {
    margin: 4px 0;
}
 

    .warning-rawitem{
      font-weight:bold
    }
    .warning-rawitem .ibiz-rawitem{
    color: var(--ibiz-color-warning);
}

    .warning-rawitem-grid{
      font-weight:bold
    }
    span.ibiz-grid-field-column__script .warning-rawitem-grid{
    color: var(--ibiz-color-warning);
}
    .discuss_tree_node .el-tree-node__content{
    /* height: var(--el-tree-node-content-height) */
    height: 32px;
}
    .comment-replay{
      border-color:#8BD1DCFF;border-style:solid;border-width:0px 0px 0px 3px
    }
    .comment-replay {
	padding: 0 12px;
	background-color: var(--ibiz-color-bg-0);
}
.comment-replay .ibiz-rawitem,
.comment-replay .ibiz-code-list__item,
.comment-replay .ibiz-panel-item-render--pcontent {
    color: #999;
}
.comment-replay .ibiz-panel-item-render--pcontent {
    display: flex;
}
.comment-replay .ibiz-panel-item-render--pcontent p {
	margin: 8px 0;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment-replay .ibiz-raw__script .comment-tag {
    pointer-events: none;
}
    .comment_icon .ibiz-rawitem{
    font-size:24px;
    opacity:0.5;
    padding:8px 0;
}
    /* 基础按钮样式 */
.ctrl-switch {
  /* 尺寸和布局 */
  padding: 8px;
  
  /* 边框和背景 */

  border-radius: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  
  /* 交互效果 */
  cursor: pointer;
  transition: all 0.2s ease;
  
  /* 移除默认按钮样式 */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* 默认状态 */
.ctrl-switch.default {
  border-color: #ddd;
}

/* 悬停状态 */
.ctrl-switch:hover {
  background-color: #dddddd;
  border-color: #000000;
}

/* 按下/激活状态 */
.ctrl-switch:active {
  background-color: #dddddd;
}

/* 选中/切换状态 */
.ctrl-switch.toggled {
  background-color: #dddddd;
}

/* 禁用状态 */
.ctrl-switch:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: transparent;
}
    /* 基础按钮样式 */
.ctrl-switch-active {
  /* 尺寸和布局 */
  padding: 8px;
  
  /* 边框和背景 */

  border-radius: 4px;
  background-color: #dddddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  
  /* 交互效果 */
  cursor: pointer;
  transition: all 0.2s ease;
  
  /* 移除默认按钮样式 */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

    .department-car .ibiz-panel-container.ibiz-panel-container--container1 span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content{
    margin-bottom: -6px;
    color: rgba(73, 80, 87, 0.76)
}


.department-car .ibiz-panel-container.ibiz-panel-container--container6 button.el-button.el-button--default {
    margin-left: -8px;
    width: 62px;
}

.department-car .ibiz-panel-container.ibiz-panel-container--container4 span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content {
    font-size: 1.05rem;
}



    .ibiz-panel-container.ibiz-panel-container--container5.dept-chart-node {
    border: 1px solid #dee2e6;;
    border-radius: 0;
    box-shadow: none;
}

.dept-chart-node .ibiz-panel-container.ibiz-panel-container--container {
    background: #41a9a2;
}

.dept-chart-node button.el-button.el-button--default {
    background: #71639e;
    margin-bottom: -8px;
    margin-left: -8px;
    width: 232px;
}
    .channel-message{
      background-color:#E2F3F6FF;border-color:#BBE3EAFF;border-style:solid;border-width:1px 1px 1px 1px
    }
    .channel-message{
    border-bottom-right-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
        border-top-right-radius: 0.375rem
}
/***    END:系统样式表    ***/