/***    START:系统样式表    ***/
    .edit_default_shift button.el-button.el-button--default {
    background: transparent;
    border: none;
    color: var(--ibiz-color-primary);
    font-size: 14px;
    padding-top: 8px;
    box-shadow: 0 0 0 0;
}
    .no_rule_form_style .ibiz-form-group {
        padding: 0px 0px 0px 0px ;

    /* padding: 0px 0px 0px 0px !important; */
}

.no_rule_form_style .ibiz-form-page-item>.ibiz-form-col__grouppanel>.ibiz-form-group{
    padding-top: 16px;
    width: 100%;
    height: 100%;
}
.no_rule_form_style .ibiz-form .ibiz-form .ibiz-form-page-item>.ibiz-form-col__grouppanel>.ibiz-form-group{
    padding-top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.no_rule_form_style .ivu-tabs-tab{
    width:  150px !important;
    text-align: center !important;
}

.no_rule_form_style .ibiz-input-number .ivu-input-number{
    width:  50px !important;
}

.no_rule_form_style .ibiz-form-raw-item {
    padding-top: 6px;
    color: gray;
}



    
.judge_result span.ibiz-span {
    font-size: 12px !important;
    color: rgb(254, 161, 39) !important;
}
.ibiz-form-item-container.ibiz-form-item-container--left.ibiz-form-item.ibiz-form-item--judge-result {
    padding-bottom: 6px;
}
    .car-image img.ibiz-personal-info-content__head-sculpture--avatar-icon.ibiz-odoo-personal-info-content__head-sculpture--avatar-icon {
    width: 114px;
    height: 114px;
}

.car-image .ibiz-personal-info-content__head-sculpture.ibiz-odoo-personal-info-content__head-sculpture {
    width: 114px;
    height: 114px;
}

.car-image span.ibiz-span.is-is-ellipsis.ibiz-panel-field-content {
    /* font-size: var(--ibiz-font-size-header-6); */
    font-size: 15px
}
    .danger-text-button.ivu-btn.ivu-btn-text {
  color: #f5222d;
}
    .export-toolbar-item i {
    display: none !important;
}
    .export-report-button {
    margin-left: 8px;
}

.export-report-button i {
    display: none !important;
}
    .ibiz-control.ibiz-control-searchform.ibiz-control--monthly_statistics_search_form.ibiz-control-form.ibiz-control-searchform {
    padding-right: 3px;
}
.ibiz-control.ibiz-control-searchform.ibiz-control--search_form.search_form_style.ibiz-control-form.ibiz-control-searchform {
    padding-right: 3px;
}

    .search-form-by-left {
  width: auto !important;
  height: auto;
}
.search-form-by-left .ibiz-form-col__formitem {
  flex: none;
  max-width: unset;
}

    .static-text span.ibiz-rawitem__text {
    font-weight: var(--ibiz-panel-container-group-caption-font-weight);
}

    .month-person-card {
  margin-bottom: 20px;
  position: relative;
}
.month-person-card .ibiz-form-group-header {
  height: 42px;
  background: #e8f4ff;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  padding: 0 16px;
  margin: 0;
}
.month-person-card .ibiz-form-group__caption {
  line-height: 42px;
  padding: 0;
}
.month-person-card .ibiz-form-group__caption::before {
  display: none;
}
.month-person-card .ibiz-form-group-content {
  padding: 0;
  border: 1px solid #f3f3f3;
  background-color: #f7f8fa;
}
.month-person-card .ibiz-form-group-content::after {
  content: '';
  background-color: #fff;
  height: 48px;
  position: absolute;
  width: calc(100% - 2px);
  left: 1px;
  bottom: 1px;
}
.month-person-card .ibiz-form-group-content .ibiz-form-item-container {
  padding: 0;
}
    .month-person-card .ibiz-form-group-content .ibiz-form-item-container__label {
  padding: 8px 16px;
  font-weight: 600;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
}
.month-person-card .ibiz-form-group-content .ibiz-form-item-container__editor {
  padding: 8px 16px;
  line-height: 22px;
  min-height: 38px;
  background-color: #fff;
}
.month-person-card .ibiz-form-group-content .ibiz-form-item-container__editor .ibiz-span {
  white-space: nowrap;
}
.month-person-card .ibiz-form-group-content > .ibiz-row {
  flex-wrap: wrap;
}
.month-person-card .ibiz-form-group-content > .ibiz-row > .ibiz-col {
  width: 14.28% !important;
  flex-shrink: 0;
  z-index: 9;
}
    .month-person-calendar .ibiz-form-group-header {
  height: 42px;
  background: #e8f4ff;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  padding: 0 16px;
  margin: 0;
}
.month-person-calendar .ibiz-form-group__caption {
  line-height: 42px;
  padding: 0;
}
.month-person-calendar .ibiz-form-group__caption::before {
  display: none;
}
.month-person-calendar .ibiz-form-group-content {
  padding: 0;
  border: 1px solid #f3f3f3;
  background-color: #f7f8fa;
}
.month-person-calendar .ibiz-form-group-content .ibiz-custom-form-calendar__header {
  margin-top: 10px;
}
.month-person-calendar .ibiz-form-item-container {
    padding: 0;
}

    .month-person-form .ibiz-form-group--grouppanel-6 {
  margin: 16px 16px 16px 0 !important;
  height: calc(100% - 32px) !important;
  width: calc(100% - 16px) !important;
}
.month-person-form .ibiz-form-group--grouppanel-6 .ibiz-form-item-container--left .ibiz-form-item-container__label {
  width: auto;
  color: var(--ibiz-text-color);
}

    .orange-span{
    width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffdcaf;
}
    /* .next_tag .ibiz-rawitem.ibiz-form-raw-item.is-form-text {
    font-style: normal;
    width: 43px;
    height: 22px;
    color: #1890ff;
    background: #e6f7ff;
    padding: 0 8px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #91d5ff;
    border-radius: 4px;
    position: relative;
    left: -5px;
    top: 6px;
} */

.ibiz-rawitem.ibiz-form-raw-item.next_tag.is-form-text {
    font-style: normal;
    width: 43px;
    height: 22px;
    color: #1890ff;
    background: #e6f7ff;
    padding: 0 8px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #91d5ff;
    border-radius: 4px;
    position: relative;
    left: 6px;
    top: 12px;
}
    .daily_statistics_style .ibiz-form-item-container--left .ibiz-form-item-container__label {
    width: unset !important;
}
    .banci-view .ibiz-form-group {
  padding: 0;
  margin: 0;
}
.banci-view .ibiz-form-group .ibiz-form-mdctrl-form-content + .ibiz-form-mdctrl-form-content {
  padding-top: 20px;
  border-top: 1px solid #f0f0f0;
}
.banci-view .ibiz-form-group .ibiz-form-mdctrl-form-content .ibiz-form-item--earliest-checkin.ibiz-form-item-container.is-error-border  .ivu-input-number{
  border-color: var(--ibiz-form-item-error-color);
}
.banci-view .ibiz-form-group .ibiz-form-mdctrl-form-content .ibiz-form-item--earliest-checkin.ibiz-form-item-container.is-error-border  .ivu-input{
  border-color: var(--ibiz-form-item-error-color);
}
.banci-view .ibiz-form-group .ibiz-form-mdctrl-form-content .ibiz-form-item--earliest-checkin .ibiz-form-item-container-error{
    display: none;
}

    .banci-view .ibiz-form-item-container.ibiz-form-item-container--left.ibiz-form-item.ibiz-form-item--rest-enable {
    padding-bottom: 8px;
}

.banci-view .ibiz-form-item-container.ibiz-form-item-container--left.ibiz-form-item.ibiz-form-item--overtime-valid {
    padding-bottom: 10px;
    padding-top: 8px;
}

    .group_num_item .ibiz-form-raw-item {
    padding-top: 6px;
    padding-left: 9px;
}
    .raw-group .ibiz-form-col__rawitem {
  flex: none;
}
.raw-group .ibiz-form-item-container {
  padding: 0;
}
.raw-group .ibiz-form-col__formitem {
  flex: none;
  padding: 0 8px;
}
.raw-group .ibiz-form-group-content {
  padding-left: 60px;
}

    .red-span{
   width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fcd0cb;
}

 

    .green-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #07ad2b;
}
    .checkin-time .ibiz-date-picker.ibiz-date-picker--readonly.ibiz-date-picker__DATEPICKEREX_NODAY_NOSECOND.ibiz-panel-field-content {
    color: var(--ibiz-color-text-0);
}
    .statistics_detail.ibiz-form-group__caption::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 15px;
    content: "";
    background-color:#1a6aff;;
    border-radius: 2px;
    transform: translateY(-50%);
}

.statistics_detail.ibiz-form-group__caption {
    position: relative;
    padding-left: 16px;
    font-size: 14px;
}
    .attendance_record_style .ibiz-form-group {
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.attendance_record_style .ibiz-form-group--header {
    outline: 1px solid #ebedf0;
    background-color: #ebedf0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 11px 0 11px 18px !important;
}

.attendance_record_style .ibiz-form-group--base-info .ibiz-form-item-container {
    padding: 0px !important;
}

.attendance_record_style .ibiz-form-item-container__content.ibiz-form-item-container__content--label-none {
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance_record_style .ibiz-form-mdctrl-form-content {
    border-bottom: 1px solid #f0f0f0;
}
    .kiosk_car .el-card__body {
    background-color: white;
}

.kiosk_car .ibiz-control-dataview__content {
    background-color: #DEE2E6 !important;
}

.kiosk_car .el-card {
    --el-card-border-radius: 20px;
}

.kiosk_car .ibiz-control-dataview__layout-col {
    padding: 0 var(    --ibiz-spacing-base) var(--ibiz-spacing-base) 0;
}

.kiosk_car .ibiz-personal-info-content__head-sculpture.ibiz-odoo-personal-info-content__head-sculpture {
    font-size: 32px;
    width: 100px;
    height: 100px;
}

.kiosk_car .ibiz-panel-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.kiosk_car .el-tree-node.is-focusable {
    background-color: white;
    border: 1px solid #DEE2E6;
    padding: 5px;
    height: 70px;
    font-size: 20px;
    display: flex;  
    align-items: center;
}
.kiosk_car .ibiz-split-pane.ibiz-split-pane--left {
    background-color: #DEE2E6;
}
    /* .kiosk_car .el-tree-node.is-focusable {
    background-color: white;
    border: 1px solid #DEE2E6;
    padding: 5px;
    height: 70px;
    font-size: 20px;
}

.kiosk_car .ibiz-split-pane.ibiz-split-pane--left {
    background-color: #DEE2E6;
} */
.kiosk_car .ibiz-control-treeview-tree > div:nth-last-child(2) {
    border-radius: 0 0 15px 15px;
}

.kiosk_car .ibiz-control-treeview-tree > div:first-child {
    border-radius: 15px 15px 0 0;
}
    .kiosk_label .ibiz-col.ibiz-col--flex {
    padding: 10px;
}

div#hr_attendance_kiosk_checkin_view_main2_check_in_display {
    background-color: #d1ecf1;
    border-width: 1px;
    border-style: solid;
    border-color: #a2dae3;
    width: 725px;
    border-radius: 10px;
    padding-left: 150px;
}

div#hr_attendance_kiosk_checkin_view_main2_hours_previously_today {
    background-color: #d1ecf1;
    border-width: 1px;
    border-style: solid;
    border-color: #a2dae3;
    width: 725px;
    padding-left: 245px;
    border-radius: 10px;
}

div#hr_attendance_kiosk_checkin_view_main2_check_out_display {
    background-color: #d1ecf1;
    border-width: 1px;
    border-style: solid;
    border-color: #a2dae3;
    width: 725px;
    border-radius: 10px;
    padding-left: 150px;
}
    .kiosk_form .ibiz-personal-info-content__head-sculpture.ibiz-odoo-personal-info-content__head-sculpture {
    width: 100%;
    font-size: 32px;
}
 /* .el-dialog.is-align-center.ibiz-modal {
    overflow: hidden;
    border-radius: 30px;
} */
.kiosk_form div#hr_attendance_kiosk_checkin_view_main2_personal_info {
    padding-top: 30px;
}
.kiosk_form div#hr_attendance_kiosk_checkin_view_main2_employee_name span.ibiz-span.is-is-ellipsis {
    font-size: 30px;
    font-weight: bold;
}
.kiosk_form .ibiz-rawitem.ibiz-form-raw-item.is-form-text {
    font-size: 20px;
    padding: 0px;
}
div#hr_attendance_kiosk_checkin_view_main2_check_out_display span.ibiz-span.is-is-ellipsis {
    font-weight: bold;
    font-size: 18px
}

    .kiosk_form div#hr_attendance_kiosk_checkin_view_main2_hours_previously_today span.ibiz-span.is-is-ellipsis {
    font-weight: bold;
    font-size: 18px
}

.kiosk_form button.el-button.el-button--default {
    background-color: #71639e;
}

.kiosk_form div#hr_attendance_kiosk_checkin_view_main2_hours_today  {
    background-color: #d1ecf1;
    border-width: 1px;
    border-style: solid;
    border-color: #a2dae3;
    width: 725px;
    padding-left: 252px;
    border-radius: 10px;
}

div#hr_attendance_kiosk_checkin_view_main2_hours_today span.ibiz-span.is-is-ellipsis {
    font-weight: bold;
    font-size: 18px
}
div#hr_attendance_kiosk_checkin_view_main2_check_in_display span.ibiz-span.is-is-ellipsis {
    font-weight: bold;
    font-size: 18px
}
.kiosk_form .ibiz-form-item-container__label--text {
    font-size: 18px;
}
    /* .form-rawitem-style .ibiz-form-raw-item {
    padding: 9px 0;
} */
/* .form-rawitem-style .ibiz-form-raw-item {
    padding: 6px 0;
    color: gray;
} */

.ibiz-rawitem.ibiz-form-raw-item.form-rawitem-style.is-form-text {
    color: var(--ibiz-form-item-container-label-color);
}
    .form-item-tooltip {
  position: relative;
  top: -18px;
  padding-left: 126px !important;
  color: gray;
  font-size: 12px;
  padding-top: 0px;

}


    .ibiz-rawitem.ibiz-form-raw-item.form-allcompanytip.is-form-text {
    padding-top: 0px;
    padding-left: 135px;
    font-size: 12px;
    color: gray;
}
    .ibiz-rawitem.ibiz-form-raw-item.form-item-tooltip-week.is-form-text {
    position: relative;
    top: -13px;
    padding-left: 212px;
    color: gray;
    font-size: 12px;
    padding-top: 0px;
    height: 10px;
}
     /* .form-tooltip .ibiz-form-raw-item {
    padding-top: 9px;
    padding-left: 0px;
    font-size: 12px;
    color: gray;
} */

.ibiz-rawitem.ibiz-form-raw-item.form-tooltip.is-form-text {
    padding-top: 9px;
    padding-left: 6px;
    font-size: 12px;
    color: gray;
}
    .form-item-tooltip1 {
    position: relative;
    padding-left: 126px;
    color: gray;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 12px;
}
    .ibiz-rawitem.ibiz-form-raw-item.free-tooltip.is-form-text {
    position: relative;
    top: -12px;
    padding-left: 130px;
    color: gray;
    font-size: 12px;
    padding-top: 8px;
    height: 30px;
}
    .grid-script-column .ibiz-grid-field-column__script {
    white-space: pre;
}
    .rule_form_style .ibiz-form-group {
        padding: 0px 0px 0px 0px ;

    /* padding: 0px 0px 0px 0px !important; */
}

.rule_form_style .ibiz-form-page-item>.ibiz-form-col__grouppanel>.ibiz-form-group{
    padding-top: 16px;
    width: 100%;
    height: 100%;
}
.rule_form_style .ibiz-form .ibiz-form .ibiz-form-page-item>.ibiz-form-col__grouppanel>.ibiz-form-group{
    padding-top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.rule_form_style .ivu-tabs-tab{
    width:  150px !important;
    text-align: center !important;
}

.rule_form_style .ibiz-input-number .ivu-input-number{
    width:  80px !important;
}

/* .rule_form_style .ibiz-form-raw-item {
    padding-top: 9px;
    color: gray;
} */
.rule_form_style .ibiz-form-item-container.ibiz-form-item-container--left.ibiz-form-item.ibiz-form-item--auto-match {
    padding-bottom: 0px;
}



    .rule_raw_item .ibiz-rawitem.ibiz-form-raw-item.is-form-text {
    padding-left: 8px !important;
}
    .form-type-tooltip {
    position: relative;
    top: -20px;
    height: 20px;
    padding-left: 135px !important;
    color: gray;
    font-size: 13px !important;
}
    .pickup-tree-style .ibiz-view-layout-header-content__caption {
  line-height: var(--ibiz-common-editor-size);
}
.pickup-tree-style .ibiz-quick-search {
  --ibiz-quick-search-embed-height: var(--ibiz-common-editor-size);
  --ibiz-quick-search-embed-line-height: var(--ibiz-common-editor-size);
}
.pickup-tree-style .ibiz-view-layout-content {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pickup-tree-style .ibiz-view-layout-header-content__left {
  display: none;
}
.pickup-tree-style .ibiz-view-layout-header-content__right {
  width: 100%;
}
.pickup-tree-style .ibiz-view-layout-header-content__right .ibiz-view-layout__quick-search {
  width: 100%;
}

    /* 基础按钮样式 */
.ctrl-switch {
  /* 尺寸和布局 */
  padding: 8px;
  
  /* 边框和背景 */

  border-radius: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  
  /* 交互效果 */
  cursor: pointer;
  transition: all 0.2s ease;
  
  /* 移除默认按钮样式 */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* 默认状态 */
.ctrl-switch.default {
  border-color: #ddd;
}

/* 悬停状态 */
.ctrl-switch:hover {
  background-color: #dddddd;
  border-color: #000000;
}

/* 按下/激活状态 */
.ctrl-switch:active {
  background-color: #dddddd;
}

/* 选中/切换状态 */
.ctrl-switch.toggled {
  background-color: #dddddd;
}

/* 禁用状态 */
.ctrl-switch:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: transparent;
}
    /* 基础按钮样式 */
.ctrl-switch-active {
  /* 尺寸和布局 */
  padding: 8px;
  
  /* 边框和背景 */

  border-radius: 4px;
  background-color: #dddddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  
  /* 交互效果 */
  cursor: pointer;
  transition: all 0.2s ease;
  
  /* 移除默认按钮样式 */
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/***    END:系统样式表    ***/